* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #674baf;
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.container {
  max-width: 600px;
  width: 85%;
  margin: 2rem auto;
}

.community {
  margin: 3rem 0;
  text-align: center;
}

.community__img img {
  width: 100%;
}

.community__content--title {
  margin: 2.5rem 0 1rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
}

.community__content--text {
  margin-bottom: 2rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

.header__logo {
  width: 150px;
}

.social__links {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__links--link {
  margin-right: 1rem;
  padding: 0.5rem 0.6rem;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.social__links--link:hover {
  color: #e882e8;
  border: 1px solid #e882e8;
  -webkit-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
}

.btn {
  background-color: #fff;
  padding: 0.7rem 4.5rem;
  color: #674baf;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.btn:hover {
  background-color: #e882e8;
  color: #fff;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

@media (min-width: 600px) {
  .header__logo {
    width: 200px;
  }
  .community__content--title {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-size: 2rem;
  }
  .community__content--text {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.1rem;
  }
  .btn {
    padding: 0.9rem 4rem;
  }
  .social__links--link {
    padding: 0.7rem 0.8rem;
  }
}

@media (min-width: 900px) {
  body {
    min-height: 100vh;
    background-image: url("../images/bg-desktop.svg");
    background-position: top left;
    background-size: cover;
  }
  .container {
    max-width: 1400px;
    width: 90%;
    margin: 2rem auto;
  }
  .community {
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .community__img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .community__content {
    margin-left: 3rem;
    text-align: left;
  }
  .social__links {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 1385px) {
  body {
    background-size: contain;
  }
  .container {
    margin: 3.5rem auto;
  }
  .community {
    margin-top: 5.6rem;
  }
  .community__img {
    -webkit-box-flex: 0.55;
        -ms-flex: 0.55;
            flex: 0.55;
  }
  .community__img img {
    max-height: 500px;
  }
  .community__content {
    -webkit-box-flex: 0.45;
        -ms-flex: 0.45;
            flex: 0.45;
  }
  .community__content--title {
    max-width: 500px;
    margin-right: 0;
    margin-left: 0;
    font-size: 2.5rem;
    line-height: 1.4;
  }
  .community__content--text {
    max-width: 550px;
    margin-right: 0;
    margin-left: 0;
    font-size: 1.2rem;
  }
  .community .social__links {
    margin-top: -2rem;
  }
}
/*# sourceMappingURL=main.css.map */